<h1>POSTS BY
    <%= @user.name %>
</h1>

<% @microposts.each do |post| %>
    <p>
        <strong>Content: </strong>
        <%= post.content %>
    </p>

    <p>
        <strong>ID: </strong>
        <%= post.user_id %>
    </p>
<% end %>

<%= link_to 'Back', user_path %>