
<div class="container">
    <br>
    <h1>POSTS BY
        <%= @user.name %>
    </h1>
    <hr>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Post ID</th>
                <th>Post Content</th>
            </tr>
        </thead>

        <tbody>
            <% @microposts.each do |post| %>
                <tr>
                <td><%= post.user_id %></td>
                <td><%= post.content %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Back', user_path %>
</div>