
<div class="container">
    <br>
    <h1>Editing Micropost</h1>
    <hr>
    <%= render 'form', micropost: @micropost %>
    <br>
    <%= link_to 'Show', @micropost %> |
    <%= link_to 'Back', microposts_path %>
</div>